// @import './normalize';
@import './reset';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

// tipografy
html,
body {
  font-family: 'Roboto Condensed', sans-serif;
}

// colors
$primary: #011627;
$secondary: #2ec4b6;
$danger: #e71d36;
$warning: #ff9f1c;
$background: #fdfffc;
$black: #000;
$white: #fff;

// sizes
$small: 768px;
$medium: 1024px;
$large: 1200px;
$extra-large: 1408px;

// global
html,
body {
  background-color: $background;
}
